<a href="https://colab.research.google.com/github/gvictor00/alura/blob/main/Introdu%C3%A7%C3%A3o_a_Machine_Learning_e_Classifica%C3%A7%C3%A3o_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

uri = 'https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv'
dados = pd.read_csv(uri)

# imprime as primeiras linhas
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [7]:
# A biblioteca Pandas permite renomear o conjunto de dados de acordo com a
# necessidade do programador. Neste exemplo, a mudança aconteceu para o 
# idioma português.

mapa = {
    "home" : "principal",
    "how_it_works" : "como_funciona",
    "contact" : "contato",
    "bought" : "comprou"
}

dados = dados.rename(columns = mapa)

In [20]:
# Antes da mudança na tabela
#x = dados[["home","how_it_works","contact"]]
#y = dados[["bought"]]

# Depois da mudança da tabela
x = dados[["principal","como_funciona","contato"]]
y = dados["comprou"]

In [16]:
# Retorna o formato dos dados
dados.shape

(99, 4)

In [21]:
# Pega os elementos ATÉ o 75 (0 - 74)
treino_x = x[:75]
treino_y = y[:75]

# Pega a partir do elemento 75 (75 - 99)
teste_x = x[75:]
teste_y = y[75:]

teste_y.shape

print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

Treinaremos com 75 elementos e testaremos com 24 elementos

In [23]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

model = LinearSVC()
model.fit(treino_x, treino_y)
previsoes = model.predict(teste_x)

taxa_de_acerto = accuracy_score(teste_y, previsoes)
print("A acuracia foi %.2f%%" % (taxa_de_acerto * 100))

A acuracia foi 95.83%

# Usando a biblioteca para separar treino e testes

In [35]:
from sklearn.model_selection import train_test_split

# semente para ser utilizada como referência, para remover a aleatoriedade
# da separação dos dados
SEED = 20

# Função responsável por separar aleatoriamente o conjunto de dados
treino_x, teste_x, treino_y, teste_y = train_test_split(x,y, random_state = SEED, test_size = 0.25)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

model = LinearSVC()
model.fit(treino_x, treino_y)
previsoes = model.predict(teste_x)

taxa_de_acerto = accuracy_score(teste_y, previsoes)
print("A acuracia foi %.2f%%" % (taxa_de_acerto * 100))

Treinaremos com 74 elementos e testaremos com 25 elementos
A acuracia foi 96.00%

In [36]:
treino_y.value_counts()

0    47
1    27
Name: comprou, dtype: int64

In [37]:
teste_y.value_counts()

0    19
1     6
Name: comprou, dtype: int64

## Estratificando a separação
A ideia é evitar que o conjunto de dados tenha um proporção de informações diferentes entre o treino e o teste. Ao aplica a estratificação, é realizado um ajuste para que as proporções entre resultados e treino e teste sejam equivalentes.

In [ ]:
from sklearn.model_selection import train_test_split

# semente para ser utilizada como referência, para remover a aleatoriedade
# da separação dos dados
SEED = 20

# Função responsável por separar aleatoriamente o conjunto de dados
treino_x, teste_x, treino_y, teste_y = train_test_split(x,y, random_state = SEED, 
                                                        test_size = 0.25
                                                        stratify = y)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

model = LinearSVC()
model.fit(treino_x, treino_y)
previsoes = model.predict(teste_x)

taxa_de_acerto = accuracy_score(teste_y, previsoes)
print("A acuracia foi %.2f%%" % (taxa_de_acerto * 100))

In [38]:
treino_y.value_counts()

0    47
1    27
Name: comprou, dtype: int64

In [39]:
teste_y.value_counts()

0    19
1     6
Name: comprou, dtype: int64